{% extends 'main.html' %}

{% block links %}

<link rel="stylesheet" href="../static/css/about.css" type="text/css">

{% endblock %}

{% block content %}

<div class="container-xl shadow-lg p-3 mb-5 rounded borderBody">
    <div class="row bodyRows">
        <div class='col-2' align="center">
            <img class="bonePic" src="../static/images/cartoon-dog-bones-dog-clipart-cartoon-clipart-lovely-png-image-and-clipart-dog-bone-png-260_260.png" alt="">
        </div>

        <div class="col-6" id="about-header" align="center">
            <h1 id="aboutTitle">About Lucky</h1>
        </div>
        
        <div class='col-2' align="center">
            <img class="bonePic" src="../static/images/cartoon-dog-bones-dog-clipart-cartoon-clipart-lovely-png-image-and-clipart-dog-bone-png-260_260.png" alt="">
        </div>
    </div>


    <div class="row bodyRows">
        <div class="col bodyPara" id="body1">
            <p>Welcome! My name is Lucky! I am a three year old pomeranian from New Jersey. I live with the most amaaaaazing family ever. I have three brothers and two sisters (all humans). I have many favorite activities. I love going out on drives and looking out the window. I love going out for walks (not even the cold can stop me!1) I just put on my hat and scarf and I'm ready to go! My most favorite is a lazy day where I just lay back and get scratches from everyone in my family. I also love playing with all of my toys. My favorite toys are tennis balls, squeaky toys, tennis balls, crinkle toys, oh and did I say tennis balls!!!</p>
        </div>

        <div class="col">
            <img src="../static/images/about1.jpg" class="about-imgs">
        </div>

    </div>

    <div class="row bodyRows">
        <div class="col">
            <img src="../static/images/about2.jpg" class="about-imgs">
        </div>

        <div class="col bodyPara" id="body2">
            
            <p>I'm also really good at keeping dangerous things away from our home. I'll sometimes watch outside a window and wait until I see something suspicious and I scare them away with my ferocious roars! I make sure I'm loud enough so everyone can hear me!!! I guess you're wondering why my website is called 'The Lucky Carrot'. Well, I REALLY love carrots. I love carrots. They're my favorite snack, my favorite toys are carrot shapes, and my favorite foods have carrots in them. <span id="loveCarrots">I loveeeeeeeeeeeeeeeeeee carrots!!</span> I can't get enough of them! Anyway, I hope you love my blog as much as I love blogging. And all of my pictures are available for you to download. Just click the tiny picture of me!
            <a href="../static/images/luckypictures.zip" download="luckypictures.zip">
                <img src="../static/images/download.JPG" id="dlimg">
            </a>
            </p>
        
        </div>

    </div>
</div>

{% endblock %}