{% extends 'main.html' %}

{% block links %}

<link rel="stylesheet" href="../static/css/blog.css" type="text/css">

{% endblock %}

{% block content %}

    <div class='container-xl'>
        <div class="row">
            <!-- <div class="col-1"></div> -->

            <div class="col-8 shadow-lg p-2 mb-3 rounded borderBody">
                <article class='media content-section'>
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file)}}">
                    <div class='media-body'>
                        <div class="article-metadata">
                            <span>Posted by: <a class="mr-2" href="{{ url_for('main.about') }}">{{ post.author.username }}</a></span>
                            <small class='text-muted'>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>

                            {% if post.author == current_user %}
                                <div>
                                    <a class="btn btn-warning btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                </div>
                            {% endif %}
                        </div>
                        <h2 class="article-title post-header">{{ post.title }}</h2>
                        
                    </div>
                </article>

                <p class="article-content post-content p-5">{{ post.content }}</p>
                <img class="img-fluid mx-auto d-block post-image pb-5" src="{{ url_for('static', filename='post_pictures/' + post.image_file) }}">
                
            </div>

            <div class="col-3 shadow-lg p-2 mb-3 ml-4 rounded borderBody" style="height:323px;">
                <div class="content-section">
                  <h3 class="article-title">Sidebar</h3>
                  <p class='text-muted'></p>
                    <ul class="list-group">
                      <a href="https://www.instagram.com/luckyluluthepom/" class="list-group-item list-group-item-light sideBar">Follow me on Instagram</a>
                      <a href="#" class="list-group-item list-group-item-light sideBar">Follow me on Twitter</a>
                      <a href="#" class="list-group-item list-group-item-light sideBar">Most Popular Post</a>
                      <a href="{{ url_for('users.account') }}" class="list-group-item list-group-item-light sideBar">Sign up to receive emails</a>
                    </ul>
                </div>
              </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>

{% endblock %}