{% extends 'main.html' %}

{% block links %}

<!-- <link rel="stylesheet" href="../static/css/blog.css" type="text/css"> -->

{% endblock %}

{% block content %}

<div class="container-xl">
    <div class="row">
        <div class='col-2'></div>
        
        <div class="col-8 shadow-lg p-3 mb-5 rounded borderBody">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <fieldset class="form-group">
                    <legend class="border-bottom border-dark mb-4">Update Blog Post</legend>

                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}

                        {% if form.title.errors %}

                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}

                            {{ form.title(class="form-control form-control-lg") }}    

                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}

                        
                        {% if form.content.errors %}

                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}

                            {{ form.content(class="form-control form-control-lg") }}    

                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}

                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}

                    </div>
                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-dark")}}
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}