autopep8==1.5.3
Click==7.0
Flask==1.0.2
Flask-MySQLdb==0.2.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mysqlclient==2.0.1
pycodestyle==2.6.0
toml==0.10.1
waitress==1.4.2
Werkzeug==0.14.1
