body {
	background: #ffe7c9 !important;
	/* background-image: url("/images/bone2.png");
	background-repeat: round space;
	background-size: 100px; */
}

.logo {
	display: inline-block;
	width: 160px;
	font-size: 20px;
	font-family: 'Bitter', serif;
	padding-top: 10px;
	color: white;
}

.logo:hover {
	color: rgb(255, 145, 0);
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
}

#carrot {
	color: rgb(255, 145, 0);
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
}

a {
	text-decoration: none !important;
}

nav {
	font-family: "Bitter", serif;
	font-weight: 500;
	font-size: 16px;
}

/* General CSS */

.borderBody {
	margin-top: 30px;
	background: #faedd0;
}
